<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <h3><img src="../images/eco.png" alt="" class="carousel_image">MBM Goes Green</h3>
        <p>Sustainable living is in style, and we’ll be seen as an innovator by offering a green menu andmbm Catering Services packaging for your corporate staff/client. We are able to create dishes using organic and in-season ingredients sourced locally and meat and poultry items cultivated in a humane way. You are able to choose boxed lunch setups made of recycled materials, and use 100 percent biodegradable dishes and plastic-ware.</p>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <h3>Health Gourmet</h3>
        <p>Fat-laden foods from many corporate caterers are high on flavour but bring on the inevitable food coma after lunch break. We will nourish your clients without the need for a nap by serving lighter fare that’s both filling and mbm Catering Servicesenergizing. A simple veggie tray can be transformed to crudities with an attractive presentation and a trio of bean dips such as rich hummus, and others. We can, in stead of a platter of lunch meats, we can prepare a variety of finger sandwiches or wraps with both vegetarian and non-vegetarian options.</p>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <h3>International</h3>
        <p>We are able to plan your catering with an international selection of dishes as an exciting option when serving a large group of attendees. Depending on the size of your staff and the venue, we can go all out with different food stations in which each area represents a different continent or country. We normally amp up the flair by dressing both the serving station and its attendant in a style that evokes the typical dress and décor of their particular geographic region. This works very well for conferences.
Our speciality also includes Youth Camps, where we can cook for and serve thousands, effortlessly, but maintaining a high standard of services and quality.</p>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption">
        <h3>Themed</h3>
        <p>The sky’s the limit with our themed catering. A corporate meeting may call for something subtle, such as incorporating the company’s logo or color scheme into your table display. We are able to craft your menu and décor around something relevant to your group, such as the industry. A group of accountants may be amused with a sheet cake in the form of a balance sheet.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
