<div id="contact">
<h1>Contact Us</h1>
<form action="">
  <div class="col-md-3">First Name</div>
    <div class="col-md-9">
      <input type="text" placeholder="Enter your first name">
    </div><br><br>
    <div class="col-md-3">Surname</div>
    <div class="col-md-9">
      <input type="text" placeholder="Enter your surname">
    </div><br><br>
      <div class="col-md-3">Email address</div>
    <div class="col-md-9">
        <input type="email" placeholder="Enter your email">
    </div><br><br>
    <div class="col-md-3">Your Enquiry</div>
      <div class="col-md-9">
        <textarea name="name" rows="8" cols="40" placeholder="Enter your enquiry and we'll get back to you as soon as possible"></textarea>
      </div>
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <input type="submit">
    </div>
</form>
</div>
