<article id="success">
  <h1>Success</h1>
  <p>
    Though the genesis of mBM catering company may be similar to any other company, one thing that sets the owner Melvina September apart, is the passion and drive to make her business a success. She combines her Bachelor's degree in Human Ecology, majors in Food and Nutrition,and her Human Resources and Development, together with her MBA in Business principles to create a successful business.
For Mel of mBM Catering in the South Peninsula, Cape Town it's not about the money but about the confidence.
mbm Catering Services
"As entrepreneurs in this tough economy, you don't ask 'Is this a good time?' you just do," Mel says. "I wanted to grow mBM into the corporate world and I am comfortable with my concepts and execution of my ideas."
Clients find her approachable and sees the passion for the industry through her quality in food and styling of events.
"The key is that you've got to love this business. You have to have a heart for it," said Mel."You have to have the personality."
Be willing to change the business concept, be willing to be flexible and allow the client's ideas to be a design starting point then have the ability to develop it into an "above expectation" successful result, says Mel.
With our expansion,"We provide a food service to various camping groups in any area," said the owner "You have to create your opportunities and re-invent yourself all the time."
A further expansion to the production section of mBM is the GoodFoodsWrapped range of "take away" delicacies. What started out as "popcorn" is now fully fledged production lines of items that can be ordered for snacks, kids parties, corporate gifts, or table gifts for any occasions.
mbm Catering Services
WOW factor: Mel and her specially selected teams treat guests with respect and always show happy smiley faces.
Trademark food courses include beautiful cocktail snacks, hake Briyani, gentle and slow oven baked beef cuts, freshly prepared vegetables which is drizzled with olive oil and roasted as well as home made sauces and amongst many many other favourites home baked bread rolls. Dessert is almost always a buffet, or rather such a large variety, that the client seldom gets through all the choices.
Perks: The firm also does off-premise catering such as spit braai's and picnics for corporate events, conferences, seminars, family reunions and school events, religious and youth group gatherings.
The backstory: Mel launched the business 1992. Since then the firm has expanded its clientele to include corporate catering, weddings and an array of special events as mentioned before. Her experience with International groups touring Cape Town, weddings and corporate events as well as mass catering for camps gives her company the edge as she understands both FIVE Star as well as canteen catering and guides her teams accordingly.
Working within the economic downturn, Mel was able to maintain her volume by adjusting prices to suit any pocket. "We can handle larger orders and focus more on being flexible so that there can be a steady stream of work."
Here's the deal: With nearly 21(1992-2013) years behind her, Mel has developed a sense of balance and a philosophy about the economy and entrepreneurship.
mBM' Corporate Social Responsibility initiative started since 1993 where it opened its doors to many families as mBM selects school students who wish to enter the hospitality field, trains them and employs them on a part time basis for various events. The extra income assists the families whilst the students get skill trained in event planning, project management and hospitality etiquette.
With her husband Andrew and two children Andre and Dane, there's innovation paired with continuity, she said. "It's in our blood."
  </p>
</article>
