{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
{% include './partials/header.html' %}
<div id="portfolio">
    <h1>Portfolio of Our Work:</h1>
<ul>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Starters</h2>
    <p></p>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Mains</h2>
    <p></p>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Desserts</h2>
    <p></p>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Other</h2>
    <p></p>
  </li>
</ul>
</div>
</div>
{% endblock %}
