.flex-container{
  margin:10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  .event-card{
    border:solid $green 1px;
    padding:1px 10px 1px 10px;
    align-self: auto;
    &:hover, h2:hover{
      background-color: $green;
      color:$white;
    }
    h2{
      font-family: $primary;
    }
    .content{

    }
  }
}
