/*
    portfolio.scss
        - styles for the portfolio section of the page
*/
.accordion{
    a{
        color: #444444;
        @include font-size(30px);
    }
    a:hover{
        background: $orange;
    }
}
