
/*
    _variables.scss
    holds the colours and the fonts for the project
    @author : Max-Andre Zils
    @date   : 12 08 2015
*/

// Colors
$orange : #ffa500;
$grey   : #726c61;

//fonts
$primary   : serif;
$secondary : monospace;
//END OF VARIABLES
