body{
    margin: auto;
}
header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424343+0,424343+48,424343+50,74c066+52,74c066+100 */
    background: #424343; /* Old browsers */
    background: -moz-linear-gradient(top, #424343 48%, #424343 50%, #74c066 52%, #74c066 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424343), color-stop(48%,#424343), color-stop(50%,#424343), color-stop(52%,#74c066), color-stop(100%,#74c066)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424343 0%,#424343 48%,#424343 50%,#74c066 52%,#74c066 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424343 0%,#424343 48%,#424343 50%,#74c066 52%,#74c066 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424343 0%,#424343 48%,#424343 50%,#74c066 52%,#74c066 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #424343 0%,#424343 48%,#424343 50%,#74c066 52%,#74c066 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424343', endColorstr='#74c066',GradientType=0 ); /* IE6-9 */
}
.contentwrapper img {
    max-width:250px;
    padding-left: 25px;
    height:auto;
}




h1, h2{
    margin: 0;
    color: #434242;
    padding-top: 90px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #434242;
    text-align: center;
    position: relative;
    min-height: 500px !important;
    max-height: 800px !important;
}
.carousel{
    margin-top: 0px;
}
.bs-example{
	margin: 5px;
}
/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}





#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}

.carousel_img{
  width:50px;
}
